<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 224.000000, 258.000000, NO, NO</string>
		<string>0.000000, 259.000000, 224.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>0 81 224 278 0 0 1728 1079 </string>
	<key>NSWindow Frame alfredprefswindow</key>
	<string>274 183 1180 728 0 0 1728 1079 </string>
	<key>catalinaCacheChecked</key>
	<true/>
	<key>lastFeature</key>
	<string>defaultresults</string>
	<key>lastFeatureTS</key>
	<integer>702535085</integer>
	<key>lastTab</key>
	<string>general</string>
	<key>lastTabBuild</key>
	<integer>2110</integer>
	<key>themeEditorBackground</key>
	<string>Ventura Graphic.heic</string>
	<key>workflowpalette.expansion</key>
	<dict>
		<key>actions</key>
		<false/>
		<key>automations</key>
		<false/>
		<key>inputs</key>
		<false/>
		<key>outputs</key>
		<false/>
		<key>palette.gettingstarted</key>
		<false/>
		<key>section.favourites</key>
		<false/>
		<key>section.prefabs</key>
		<false/>
		<key>triggers</key>
		<false/>
		<key>utilities</key>
		<false/>
	</dict>
</dict>
</plist>
